# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title:  studytime
subtitle: 分享技术，品味人生
name: studytime
email: b_aihe@163.com
description: 本站是白贺的技术分享博客。内容涵盖生活故事、PHP后端技术、Java后端技术、Spring Boot、Spring Cloud、微服务架构、大数据演进、高可用架构、中间件使用、系统监控等相关的研究与知识分享。
keywords: studytime,白贺,Bai He,Spring,Spring Boot,Spring Cloud,MongoDB,Jvm,Docker,生活故事,架构,大数据,一线,FastDFS,开发者,编程,代码,开源,IT网站,Developer,Programmer,Coder,Geek,IT技术博客,Java,Python,
encoding: "utf-8"
favicon: favicon.png
static-url: https://static.studytime.xin/studytime-Blog

repository: MyStudytime/studytime-Blog
github_url: https://github.com/MyStudytime
sfblog_url: https://segmentfault.com/u/baihe
url: https://www.studytime.xin
base_uel: https://www.studytime.xin
enforce_ssl: https://www.studytime.xin

## Gem
plugins:
  - jekyll-paginate
  - jekyll-geo-pattern
  - rouge
  - kramdown
  - jekyll-github-metadata
  - jekyll-octicons
  
# Build settings
markdown: kramdown
highlighter: rouge
lsi:         false
excerpt_separator: "\n\n"

source:      .
destination: ./_site

quiet:    false
defaults: []

kramdown:
  input: GFM
  enable_coderay: true
  syntax_highlighter: rouge

syntax_highlighter_opts:
   coderay_line_numbers:  nil

# Pagination
paginate: 10
paginate_path: 'page:num'

# Navigation. If you do not like these modules, just remove them :D
navs:

  -
    href: /
    label: Home

  -
    href: /PHP.html
    label: PHP

  -
    href: /Linux.html
    label: Linux

  -
    href: /archives.html
    label: Archives

  -
    href: /link.html
    label: Link

  -
    href: /about.html
    label: About


# labels. my blog key words
labels:

  -
    href: /Tool.html
    name: 工具

  - href: /Linux.html
    name: Linux

  - href: /Laravel.html
    name: Laravel

  - href: /mysql.html
    name: mysql


# selected articles
classes:

  -
    href: /Tool.html
    name: 工具
    describe: 工欲善其事，必先利其器

  - href: /Mysql.html
    name: mysql
    describe: 数据库


# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# Sidebar to show popular repo
side_bar_repo_limit: 6 # Number of repos to show

# Google Analytics
# analytics :
# provider : google
#   google :
#     tracking_id : ''  # ex. UA-72165600-X


# For about.html. Fell free to create your own!
skill_software_keywords: [Java, MySQL, Oracle, Design Patterns]
skill_j2ee_keywords: [Spring, Struct, Hibernet, MyBatis, JSP]
skill_web_keywords: [HTML, CSS, JS, JQuery, Ajax, NodeJS, ExpressJS, MongoDB, Redis, PHP,  Boostrap]
skill_mobile_app_keywords: [vuejs, hyhird app]


# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
disqus:
    username: studytime
# https://imsun.net/posts/gitment-introduction/
gitment:
    owner: studytime
    repo: blog-comments
    oauth:
        client_id: 61bfc53d957e74e78f8f
        client_secret: 31c61e66cdcc9ada8db2267ee779d0bdafac434c
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: MyStudytime
    repo: studytime-Blog
    clientID: 4d7d6434cf0d65549767
    clientSecret: 14f338ef08c41f688139e64dbd404ada9db19544
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false
