<div class="about row">
    <div class="col-md-12">
        <h2>About me </h2><br/>
        <p>现居于北京，北漂一族，工作于某互联网医疗公司。</p>
        <p>PHPer，最好的语言Coder。</p>
        <p>喜欢总结，喜欢深究问题的原因，慢慢的整理了一些文章，时间长了也就延伸出想做一个自己的博客的想法。</p>
        <p>当然也是希望和更多有共同爱好，共同想法的人进行学习交流，也让更多的人知道自己。</p>
        <p>无意中看到<a href="http://www.ityouknow.com/">纯洁的微笑大神的博客</a>，感觉很有意思，也就研究了下延伸出了现有的博客功能。在此感谢纯洁微笑的大神</p>

        <h2>Contact</h2>
        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Segmentfault：<a href="{{ site.sfblog_url }}">{{ site.sfblog_url }}</a></li>
            <li>我的微信：b_aihe（备注：博客）</li>
        </ul>

        <h2>Note</h2>

        <p>人生是一次旅行，我觉得阶段性总结和复盘会让这趟旅程更有趣。</p>
        <p>编码：程序编码是我热爱的工作，我喜欢坐在电脑前，一步步按照自己的构思完成一个的作品，享受其中的成就感。</p>
        <p>写作：写作不仅仅局限于生活，甚至一段代码，一个idea都可以是写作的内容。</p>
        <p>阅读：一次阅读就是一次次思想的碰撞，产生的火花，会非常的奇妙。</p>
        <p>锻炼：不仅仅要有有趣的灵魂，也有有一个健康的皮囊</p>

        <h2>Donate</h2>
        <p>欢迎转载，请在文章页面明显位置给出原文连接，否则保留追究法律责任的权利</p>

        <!--<p align="center">-->
        <!--<img src="http://www.ityouknow.com/assets/images/tip.jpg" />\<br/>微信扫一扫-->
        <!--</p>-->


        <!-- Comments -->
        <div class="comment">
            {% include comments.html %}
        </div>
    <!--</div>-->
<!--</div>-->